.cardInputGroup{
	background-color: rgba(70, 131, 180, 0.219);
}


.buttonContainer{
	button{
		color: rgb(102, 102, 102);
		&[type="submit"]{
			&:hover{
				color: white;
				background-color: rgb(0, 185, 0);
			}
			&:active{
				background-color: rgb(20, 151, 20);
			}
		}
		&[type="reset"]{			
			&:hover{
				background-color: rgb(206, 65, 65);
				color: white;
			}
			&:active{
				background-color: rgb(167, 17, 17);
			}
		}
	}
}

.inputC{
	input{
		border: 2px solid transparent;
		&:disabled{
			background-color: azure;
			color: black;
		}
	}
}

.goodInput{
	&::before{
		color: whitesmoke;
		background-color: rgba(0, 202, 61, 0.7);
	}
}
.badInput{
	position: relative;
	&::before{
		color: rgb(255, 255, 255);
		background-color: rgba(207, 31, 31, 0.7);
	}
}