body{
	display: initial;
}

/* ********************************************** */
/******************HEADER*********************** */
/* ********************************************** */
header{
	position:fixed !important;
	top: 0px;
	left: 0px;
	width: 100vw;
}

.menuControl{
	display: initial;
}

.header-Title{
	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 7px;
	padding-left: 20px;
}

.header-shortcuts{
	height: 0px;
	overflow: hidden;
	transition:all 1s;
	padding-bottom: 0px;
	/* animation: headerAppear 2s linear 1; */

	@keyframes headerAppear {
		from{opacity: 0%;}
		to{opacity: 100%;}
	}

	img{
	}
	ul{
		li{
			a{
				padding: 0px 20px;
				div{
				}
			}
		}
	}
}

.events{
	display: none;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	zoom: .9;
	.event-item{
		margin-bottom: 10px;
	}
}

/* ********************************************** */
/****************** MAIN *********************** */
/* ********************************************** */
.indexMain{
	overflow: initial;
	margin-top: 50px;
}
.grid-container{
	grid-template-columns: 1fr;
	article{
		div{
			div{
			}
			figure{
				img{
				}
			}
		}
		h3{
		}
		ul{
			li{
			}
		}
	}
}


/* ********************************************** */
/****************** FOOTER *********************** */
/* ********************************************** */
footer{
	display: inline-block;
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.footerIcons{
	article{
		img{
		}
	}
}


/* ********************************************** */
/********************* GLASS ******************** */
/* ********************************************** */




/* ********************************************** */
/********************* GLASS ******************** */
/* ********************************************** */
