.indexMain{
	border: 2px solid red;
}
.grid-container{
	border: 2px solid rgb(0, 81, 255);
	article{
		border: 2px solid yellow;
		div{
			border: 2px solid rgb(250, 118, 95);
			div{
				border: 2px solid rgb(255, 0, 221);
			}
			figure{
				border: 2px solid rgb(0, 255, 128);
				img{
					border: 2px solid red;
				}
			}
		}
		h3,h4{
			border: 2px solid seagreen;
		}
		ul{
			border: 2px solid rgb(148, 70, 70);
			li{
				border: 2px solid rgb(179, 161, 161);
			}
		}
	}
}
.grid-header{
	border: 2px solid rgb(43, 255, 0) !important;
}

.footerIcons{
	article{
		img{
		}
	}
}