body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Roboto, sans-serif;
  user-select: none;
}

.header-shortcuts a:hover {
  background-color: #296ebd;
}

footer article:hover {
  background-color: #296ebd;
}

a {
  color: white;
  text-decoration: none;
}

.glass {
  color: white;
}

.glass img {
  filter: invert(90%);
}

.glass::before {
  background-color: black;
  box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5);
  filter: blur(1px);
  opacity: 50%;
}
