body{
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Roboto, sans-serif;
}

a{
	text-decoration: none;
}

header{
	a{
		color: white;
	}
}

.indexMain{
}

.grid-container{
	border: 2px solid black;
}

.grid-header{

}

.header-shortcuts{
	a{
		&:hover{
			background-color: rgb(41, 110, 189);
		}
	}
}

footer {
	article{
		span,a{
			color: white;
		}
		&:hover{
			background-color: rgb(41, 110, 189);
		}
	}
}

.glass{
	color: white;
	img{
		filter: invert(90%);
	}
	&::before{
		background-color: black;
		box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5);
		filter: blur(1px);
		opacity: 80%;
	}
}

