main{
}

/* ******************************* */
/* ********** Generales ************ */
/* ******************************* */
.block{
	display: block;
	margin: 0;
	padding: 0;
}

/* ******************************* */
/* ****** Formulario solicitar datos **** */
/* ******************************* */
.solicitar{
	border: 2px solid rgba(100,100,100,.5);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px 20px;
	margin: 25px;
	@media screen and (max-width:600px){
		margin: 5px;
		margin-top: 25px;
		grid-gap:initial;
		grid-template-columns: 1fr;
	}
}

.textContainer{
	padding: 10px;
}
.textItem{
}

.bigHelp{
	font-size: 35px;
	@media screen and (max-width:600px){
		font-size: 30px;
		margin: 2px;
	}
}
.notaPie{
	font-size: 10px;
}

.formContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width:600px){
		margin-bottom: 20px;;
	}
}

.formItem{
	margin: 0;
	padding: 0;
}

.textInput{
	margin: 0;
	padding: 0;
	
}
.inputContainer{
	margin: 0;
	padding: 0;
	input{
		border: 2px solid rgba(10,10,10,.3);
		padding: 5px;
	}
}

.buttons{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn{
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	&:first-child{
		margin-right: 5px ;
	}
	&:last-child{
		margin-left: 5px ;
	}
	button{
		display: flex;
		width: 100%;
		height: auto;
		justify-content: center;
		span{
			font-size: 20px;
			margin: 5px;
		}
	}
}

.btnSendHelper{
	font-size: .9rem;
	opacity: .8;
	span{
		color: var(--coordenadasTexto);
		background-color: rgba(137, 43, 226, 0.096);
		user-select: text;
	}
}

/* ******************************* */
/* ******** Mostrar Datos ************ */
/* ******************************* */

.mostrar{
	display: none;/* grid || none */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap:20px 20px;
	margin: 25px;
	padding: 10px;
	border: 2px solid rgba(100,100,100,.5);
	background-color: var(--materialSecondaryDarkerBG);
	color: var(--materialSecondaryDarkerColor);
	font-size: 20px;
	@media screen and (max-width:600px){
		margin: 5px;
		margin-top: 25px;
		grid-template-columns: 1fr;
	}
}

.itemInfo{
}

.mostrarFooter{
	grid-column-start: 1;
	grid-column-end: -1;
	button{
		font-size: 12px;
		padding: 5px;
	}
}

/* ******************************* */
/* ************ DATOS DE TEMP **** */
/* ******************************* */

.cardHeader{
	margin-bottom: 10px;
	.titulo{
		font-size: 40px;
	}
	.subtitulo{
		div{
			display: inline-block;

		}
		.lat{
			color: rgb(109, 245, 255);
		}
		.long{
			color: rgb(109, 245, 255);
		}
	}
}


.cardBody{
	span{}
}
.feels{
	span{}
}
.sunrise{
	span{}
}
.sunset{
	span{}
}
.humidity{
	span{}
}

/* En la columna de temperatura */
.itemImg{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	@media screen and (max-width:600px) {
		grid-template-columns: 1fr;
	}
}
.temperatureItem{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
	color: #ffc55b;
}
.temp{
	flex: none;
	width: 100%;
	font-size: 40px;
	text-align: center;
}
.tempMax,.tempMin{
	flex: auto;
	width: 4ch;
	text-align:center;
	padding: 10px;
}


.cardImg{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	flex-direction: column;
	div{
		width: 100%;
		display: block;
		text-align: center;
		img{
			width: 100px;
			height: auto;
			margin: 0 auto;
		}
	}
}

.descrip{
	display: block;
	text-align: center;
}

#afterForm{
	display: none;
	animation: rotar .5s linear 0s infinite;
	border-radius: 50%;
	overflow: hidden;
}

@keyframes rotar {
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}