/* CONTENEDOR */
.carousel-container{
	background-color: rgba(0, 102, 255, 0.1);
}


/* CAROUSEL-HEADER */
.carousel-header{
}


/* CAROUSEL-BODY */
.carousel-body{
}

/* (items container) */
.carousel-items{
}

.carousel-item{
	border: 2px solid #aaa;
}

.carousel-itemPart{

	/* cuando solo hay un itempart en el item */
	&:only-child{
	}


	figure{
		img,video{
		}
	}
}


/* Cuando el padre del carrusel es menor a 600px aprox */
.itemPart-MinHeight{
	&:only-child{
	}
	figure{
	}
}

/* CONTROLS */
.carousel-controls{
	*{
		font-size: 20px;
	}
}

.carousel-buttons{

	button,span{
		color: #111;
	}
	button{
		&:disabled{
			background-color: white;
			opacity: 60%;
		}
	}
}
.carousel-btn-previous{
	
}
.carousel-Inner-howMany{
	background-color: blanchedalmond;
	color: #111;
}


.carousel-innerActual{
	
}
.carousel-innerTotal{
	
}
.carousel-btn-pause{
	
}
.carousel-btn-play{
	
}
.carousel-btn-next{
	
}