/* ********************************************** */
/********************* GENERAL ****************** */
/* ********************************************** */
.block{
	display: block;
	margin: 0px;
	padding: 0px;
}

img{
	width: 100%;
	pointer-events: none;
	object-fit: contain;
}

.loader{
	background-color: #333;
	display: inline-block;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}

@keyframes rotar{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}

.card{
	border: 1px solid #aaa;
	box-shadow: 0px 5px 5px 2px rgba(0,0,0,.2);
	padding: 10px;
	position: relative;
	top: 0px;
	&:hover{
		box-shadow: 0px 10px 5px 2px rgba(0,0,0,.2);
		transition: top .2s;
		top: -10px;
	}
}

.card-header{
	border-bottom: 1px solid rgba(0,0,0,.5);
	font-size: 18px;
}

.card-content{
	li{
		padding-bottom: 7px;
	}
}
/* *********************************************** */
/********************* BODY ********************** */
/* *********************************************** */
body{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	user-select: none;
	scroll-behavior: smooth;
	/* margin: 0px;
	padding: 0px;
	font-family: sans-serif; */
}
/* 
figure{
	margin: 0px;
	display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
} */


/* *********************************************** */
/********************* HEADER ******************** */
/* *********************************************** */
$padding-Left:20px;

header{
	overflow-y: hidden;
}

.header-enlaces{
	ul{
		padding: 0px;
		margin: 0px;
		li{
			list-style-type: none;
			padding: 0px $padding-Left 0px $padding-Left;

			a{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				text-decoration: none;
				margin-top: 10px;
				padding-left: 0px;
				padding-right: 10px;
				div{
					display: inline-block;
					span{
						background-color: rgba(255, 255, 255, 0.2);
						padding: 5px;
						border-radius: 50%;
						font-size: 30px;
						margin-right: 10px;
					}
				}
			}
		}
	}

}

.header-title{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 10px;
	button{
		display: none;
		border-radius: 100%;
		width:30px;
		height:30px;
		@supports(aspect-ratio: 1/1){
			width: auto;
			height: auto;
			aspect-ratio: 1/1;
		}
	}
}

.header-events{
	margin-top: 20px;
	padding-left: $padding-Left;
	padding-right: 20px;
	div{
		margin-top: 10px;
		p{
			margin: 0px;
			padding: 0px;
		}
	}
}


/* *************************************************** */
/********************* MAIN ************************** */
/* *************************************************** */
main{
	height: 100vh;
	overflow-y: scroll;
}

/* ********************************************** */
/********************* GLASS ******************** */
/* ********************************************** */
.glass{
	position: relative;
	&::before{
		content: "";
		position: absolute;
		z-index: -1;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}


/* ********************************************** */
/********************* FOOTER ****************** */
/* ********************************************** */
footer{
	display: flex;
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	justify-content: center;
	
	ul{
		margin: 0px;
		padding: 0px;
		display: flex;
		flex-wrap: nowrap;
		li{
			display: inline-block;
			padding: 5px;
			a{
				display: inline-block;
				div{
					margin: 0;
					padding: 0;
					span{
						display: inline-block;
						width: 35px;
						height: 35px;
						font-size: 35px;
					}
					figure{
						img{
							display: inline-block;
							width: 35px;
							height: 35px;
						}
					}
				}
			}
		}
	}
}

/* a[href = '##']{
	pointer-events: none;
} */

#helpNode{
	background-color: steelblue;
	border-radius: 10px;
	color: white;
	padding: 10px 20px 10px 20px;
	display: none; /* none || inline-block */
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-50%);
	box-shadow: 10px 10px 15px rgba(56, 56, 56, 0.377)
}