/* ********************************************** */
/********************* GENERAL ****************** */
/* ********************************************** */
.block{
	display: block;
	margin: 0px;
	padding: 0px;
}

img{
	width: 100%;
	pointer-events: none;
	object-fit: contain;
}


/* *********************************************** */
/********************* BODY ********************** */
/* *********************************************** */
body{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	user-select: none;
	scroll-behavior: smooth;
}


/* *********************************************** */
/********************* HEADER ******************** */
/* *********************************************** */
header{
	overflow-y: hidden;
}

.header-enlaces{
	ul{
		padding: 0px;
		margin: 0px;
		li{
			list-style-type: none;
			a{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				text-decoration: none;
				margin-top: 10px;
				padding-left: 10px;
				padding-right: 10px;
				div{
					display: inline-block;
					span{
						font-size: 30px;
						margin-right: 10px;
					}
				}
			}
		}
	}

}

.header-title{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	button{
		display: none;
		border-radius: 100%;
		aspect-ratio: 1/1;
	}
}

.header-events{
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	div{
		margin-top: 10px;
		p{
			margin: 0px;
			padding: 0px;
		}
	}
}


/* *************************************************** */
/********************* MAIN ************************** */
/* *************************************************** */
main{
	height: 100vh;
	overflow-y: scroll;
}

/* ********************************************** */
/********************* GLASS ******************** */
/* ********************************************** */
.glass{
	position: relative;
	&::before{
		content: "";
		position: absolute;
		z-index: -1;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}


/* ********************************************** */
/********************* FOOTER ****************** */
/* ********************************************** */
footer{
	display: flex;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	
	ul{
		margin: 0px;
		padding: 0px;
		li{
			display: inline-block;
			padding: 5px;
			a,span{
				div{
					margin: 0;
					padding: 0;
					span{
						display: inline-block;
						width: 35px;
						height: 35px;
						font-size: 35px;
					}
					figure{
						img{
							display: inline-block;
							width: 35px;
							height: 35px;
						}
					}
				}
			}
		}
	}
}

a[href = '##']{
	pointer-events: none;
}