:root{
	--bodyBg:#eee;
	--bodyColor:#333;

	--cardHeaderBorderBottomColor:rgba(0,0,0,.5);


	/* ********************************** */
	--materialPrimaryBG:#01579b;
	--materialPrimaryColor:#eee;

	--materialPrimaryDarkerBG:#002f6c;
	--materialPrimaryDarkerColor:#ccc;

	--materialPrimaryLighterBG:#4f83cc;
	--materialPrimaryLighterColor:#333;
	/* ********************************** */
	--materialSecondary:#7ed3d0;
	--materialSecondaryColor:#333;

	--materialSecondaryDarkerBG:#4ba19f;
	--materialSecondaryDarkerColor:rgb(238, 238, 238);

	--materialSecondaryLighterBG:#b1ffff;
	--materialSecondaryLighterColor:#333;
	/* ********************************** */

	--primaryBG:rgb(24, 118, 172);
	--primaryColor:rgb(186, 199, 218);
}