$sizeBorderRadius:10px;
$backgroundCalcContainer:rgb(212, 226, 255);
$backgroundButtons:hsl(204, 79%, 55%);
$backgroundButtonsHover:hsl(204, 79%, 65%);
$backgroundButtonsActive:hsl(204, 79%, 45%);
$backgroundButtonAC:hsl(44, 100%, 60%);
$backgroundButtonACHover:hsl(44, 100%, 80%);
$backgroundButtonACActive:hsl(44, 100%, 55%);

.blockContainer{
	display: flex;
	width: 100%;
}

.titleContainer{
	height: 100px;
}

.title,#calcContainer{
	margin: auto;
}

#calcContainer{
	display: inline-block;
	width: 400px;
	background-color: $backgroundCalcContainer;
	padding: 20px;
	border-radius: $sizeBorderRadius;
}

.inputContainer,.buttonsContainer,.resultContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputContainer{
	input{
		display: flex;
		width: 100%;
		height: 40px;
		padding: 10px;
		font-size: 20px;
		border-radius: $sizeBorderRadius;
		outline: none;
	}
}

.buttonsContainer{
	margin-top: 30px;
	button{
		margin: 10px;
		padding: 20px;
		border-radius: $sizeBorderRadius;

		&:hover{
			background-color: rgb(197, 220, 252);
		}
		
		&:active{
			background-color: rgb(183, 209, 245);
			zoom: .99;
		}
	}
}

.resultContainer{
	margin-top: 30px;
	margin-bottom: 30px;
	color: #333;
	font-size: 25px;
}