/* ******************************* */
/* ********** Generales ************ */
/* ******************************* */
.block{
	display: block;
	margin: 0;
	padding: 0;
}

/* ******************************* */
/* ****** Formulario solicitar datos **** */
/* ******************************* */
.solicitar{
	border: 2px solid rgba(100,100,100,.5);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px 20px;
	margin: 20px;
	@media screen and (max-width:600px){
		grid-gap:initial;
		grid-template-columns: 1fr;
	}
}

.textContainer{
	padding: 10px;
}
.textItem{
}

.bigHelp{
	font-size: 35px;
	@media screen and (max-width:600px){
		font-size: 30px;
		margin: 2px;
	}
}
.notaPie{
	font-size: 10px;
}

.formContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width:600px){
		margin-bottom: 20px;;
	}
}

.formItem{
	margin: 0;
	padding: 0;
}

.textInput{
	margin: 0;
	padding: 0;
	
}
.inputContainer{
	margin: 0;
	padding: 0;
}

.buttons{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn{
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	&:first-child{
		margin-right: 5px ;
	}
	&:last-child{
		margin-left: 5px ;
	}
	button{
		display: flex;
		width: 100%;
		height: auto;
		justify-content: center;
		span{
			font-size: 20px;
			margin: 5px;
		}
	}
}

/* ******************************* */
/* ******** Mostrar Datos ************ */
/* ******************************* */

.mostrar{
	display: none;/* grid || none */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap:20px 20px;
	margin: 20px;
	padding: 10px;
	border: 2px solid rgba(100,100,100,.5);
	background-color: #eb6e4be8;
	color: rgb(238, 238, 238);
	font-size: 20px;
	@media screen and (max-width:600px){
		grid-template-columns: 1fr;
	}
}

.itemInfo{
}

.mostrarFooter{
	grid-column-start: 1;
	grid-column-end: -1;
}

/* ******************************* */
/* ************ DATOS DE TEMP **** */
/* ******************************* */

.cardHeader{
	margin-bottom: 10px;
	.titulo{
		font-size: 40px;
	}
	.subtitulo{
		div{
			display: inline-block;

		}
		.lat{
			color: rgb(109, 245, 255);
		}
		.long{
			color: rgb(109, 245, 255);
		}
	}
}


.cardBody{}
.temp{}
.feels{}
.tempMax{}
.tempMin{}

.itemImg{}
.cardImg{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	div{
		font-size: 40px;
		display:inline-block;
	}
	img{width: 100px;height: auto;}
}
.descrip{display: block;text-align: center;}